
<h1 class="text-3xl">Sobre la app</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
  Cupidatat non anim nisi id tempor reprehenderit sunt veniam eu. Ea adipisicing aliqua ipsum eiusmod aute. Adipisicing
  incididunt et magna ipsum cillum ipsum reprehenderit excepteur incididunt.
  Ad pariatur exercitation duis velit tempor laborum et quis ad quis incididunt id. Proident consequat enim nulla pariatur
  labore veniam fugiat ullamco Lorem. Adipisicing culpa velit magna occaecat. Ipsum velit cupidatat voluptate mollit ut
  nulla laboris.
  Laborum sint ipsum cillum cillum. Ex officia magna aute elit elit. Eu consequat excepteur fugiat nulla commodo non
  laboris eiusmod. Exercitation nisi commodo labore id voluptate occaecat elit fugiat fugiat laborum elit. Quis excepteur
  incididunt cillum eu et. Aute ex incididunt id reprehenderit anim. Esse adipisicing aliquip ipsum ex reprehenderit eu
  incididunt quis cillum nostrud consequat ullamco quis.

  </p>
</section>
